<!DOCTYPE html>
<html>
<head>
  <title>9 Milliards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <% if current_user %>
          <%= current_user.email %><br \><br \>
          <li role="presentation" class="active"><a href="/">Accueil</a></li>
          <li role="presentation"><%= link_to('Se Déconnecter', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li role="presentation" class="active"><a href="/">Accueil</a></li>
          <li role="presentation"><a href="/users/sign_up">S'inscrire</a></li>
          <li role="presentation"><a href="/users/sign_in">Connection</a></li>
        <% end %>
      </ul>
    </nav>
    <a href="/">
      <%= image_tag '8abeille.png', class: 'title-image' %>
      <h3 class="text-muted typewriter title-text">9 Milliards</h3>
    </a>
  </div>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>

  <%= yield %>

  <footer class="footer">
    <p>&copy; 9 Milliards 2014-2015</p>
  </footer>

</div>

</body>
</html>
